@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  background-color: black;
  display: flex;
}

.board {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: auto;
  justify-content: center;
  align-items: start;
  gap: 40px;
  box-sizing: border-box;
  padding: 100px;
  box-shadow: 0px 16px 32px 0px #00000014;
  box-shadow: 0px 4px 8px 0px #0000001f;
}

h1 {
  width: 99.5%;
  font-family: SF Pro Display;
  font-weight: 700;
  font-size: 37px;
  line-height: 44px;
  letter-spacing: 0%;
  color: #ffffff;
}
/* .list {
  width: 17.5%;
  height: auto;
  padding: 24px;
  background-color: #262626;
  border: #262626;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 24px;
  min-height: 224px;
} */

.create {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 200px;
}

.cards {
  color: white;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: #00a88b;
  border-radius: 8px;
  padding: 24px;
  box-sizing: border-box;
  gap: 8px;
  touch-action: none;
}

::placeholder {
  color: white;
}

h2 {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
}
h3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #ffffffbf;
}

@media screen and (max-width: 600px) {
  .board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 5px;
  }
  .list {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
  }
}

@media (min-width: 601px) and (max-width: 992px) {
  .board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .list {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
  }
}
